In [1]:
 %matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("FGM_All.csv")
# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')
df

,Country,Prevarence_G_W,Prevarence_G,Urban_G_W,Rural_G_W,Urban_G,Rural_G,Low_Income_G_W,Second_Low_Income_G_W,Middle_income_G_W,...,With_Bank_Account_Female,With_Bank_Account_Male,Upper2ndary_Educ_Female,Upper2ndary_Educ_Male,With_Job_Female_Tot,With_Job_Male_Tot,With_Job_Female_Rural,With_Job_Male_Rural,With_Job_Female_Urban,With_Job_Male_Urban
0,Benin,9.20,0.1,5.20,13.48,0.1,0.1,16.20,13.5,10.3,...,28.59,48.62,NaN,NaN,69.6992,74.3758,73.2847,77.9530,65.2832,70.0858
1,Burkina_Faso,75.80,13.3,68.70,78.40,6.9,14.7,77.30,78.1,77.8,...,34.50,51.28,1.57192,4.29634,58.2901,74.6037,59.2940,76.6422,55.1430,69.1376
2,Cameroon,1.40,NaN,0.90,2.10,NaN,NaN,1.30,4.0,1.0,...,30.03,39.24,11.47701,25.39947,67.1926,77.5023,73.8870,80.0758,58.3866,74.4408
3,Central African Republic,24.20,NaN,18.10,28.70,NaN,NaN,33.60,31.2,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chad,38.40,9.9,40.10,37.90,8.8,10.1,46.10,42.0,37.0,...,14.85,29.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cote_d_Ivoire,36.70,10.1,30.80,43.80,7.7,11.7,50.00,44.2,43.3,...,35.56,46.60,6.94469,15.25335,46.2240,65.5942,51.7943,76.5041,46.2240,65.5942
6,Djibouti,94.00,42.9,93.90,97.60,40.9,49.8,96.90,95.6,93.6,...,8.76,16.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Egypt,87.20,14.1,77.40,92.60,10.4,15.9,94.40,92.6,92.2,...,26.99,38.65,NaN,NaN,21.9802,66.8729,22.2025,68.4599,21.6936,64.7857
8,Eritrea,83.00,33.2,80.00,85.00,25.2,36.8,89.40,85.6,84.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Ethiopia,65.20,15.7,53.90,68.40,6.6,16.7,65.00,69.3,69.0,...,29.08,40.94,5.65992,12.68877,74.6300,85.0000,78.5900,87.8300,60.5100,73.2600
10,Gambia,75.70,20.6,77.30,71.70,52.2,47.7,68.20,78.1,84.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ghana,3.80,0.5,2.50,5.30,0.3,1.0,12.80,4.1,2.7,...,53.72,61.79,14.67860,27.24011,55.3034,58.8385,50.2915,53.0901,59.5333,64.0534
12,Guinea,94.50,39.1,94.80,94.30,35.0,40.7,94.60,94.0,93.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Guinea_Bissau,44.90,29.3,39.80,50.10,21.2,34.2,17.90,59.1,65.4,...,19.67,27.26,NaN,NaN,62.8091,66.3914,70.1343,73.2745,45.1792,54.5137
14,Iraq,7.40,0.5,7.00,8.30,0.6,0.4,1.40,2.6,2.8,...,19.50,25.82,23.94748,34.38337,11.1800,72.4200,6.9400,73.6000,12.6600,71.9900
15,Kenya,21.00,2.8,13.80,25.90,2.0,3.2,39.80,26.0,17.8,...,77.75,85.84,18.00121,25.71248,71.4595,77.5000,73.8154,75.6792,67.6357,80.1460
16,Liberia,44.40,NaN,37.30,55.60,NaN,NaN,58.40,56.1,51.3,...,28.16,43.66,NaN,NaN,72.1565,82.3102,83.5901,91.1484,62.8242,74.7037
17,Mali,88.60,82.6,89.20,88.40,74.4,72.2,86.47,85.8,89.9,...,25.71,45.46,3.24330,8.22355,55.1300,81.4300,58.8600,83.9000,45.9000,75.2900
18,Maldives,12.90,1.1,13.80,12.30,1.1,1.0,13.90,12.2,12.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Mauritania,66.60,51.4,55.20,79.00,33.0,66.3,91.80,85.9,70.1,...,15.49,26.29,NaN,NaN,28.0331,62.7963,29.3831,62.6410,26.2780,62.9576
20,Niger,2.00,NaN,1.20,2.10,NaN,NaN,1.70,1.7,2.4,...,10.91,19.94,1.98776,4.99652,62.9708,85.9826,68.0438,90.0177,40.1306,70.2561
21,Nigeria,19.48,12.7,24.20,15.60,13.7,12.3,16.40,17.8,20.0,...,27.28,51.41,NaN,NaN,48.5764,56.3550,48.1496,57.9640,49.2125,53.9735
22,Senegal,24.00,13.9,19.80,28.20,6.2,18.7,40.80,30.0,24.9,...,38.45,46.72,5.00873,17.26285,34.5028,58.0101,33.4241,61.7992,35.5350,54.6318
23,Sierra Leone,86.10,NaN,80.20,92.00,NaN,NaN,93.40,93.3,89.5,...,15.36,24.77,NaN,NaN,56.3420,57.6456,46.3416,49.3178,61.7070,62.4084
24,Somalia,97.90,NaN,97.10,98.40,NaN,NaN,98.40,99.1,98.4,...,33.66,43.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Sudan,86.60,30.1,85.47,87.20,26.8,31.4,88.00,81.7,80.7,...,9.98,20.22,NaN,NaN,28.3308,70.0560,30.2605,72.6312,25.3463,65.9186
26,Togo,3.10,0.3,2.50,3.60,0.1,0.4,4.20,3.5,2.6,...,37.59,53.05,3.03632,17.39877,61.2361,49.3811,68.6450,53.1694,52.8190,44.9683
27,Uganda,0.30,1.3,0.20,0.40,0.6,1.4,1.00,0.3,0.2,...,52.71,66.08,6.34869,13.92241,44.9500,61.8400,39.3300,56.5500,59.8800,76.7100
28,United_Republic_of_Tanzania,10.00,0.4,5.30,12.70,0.1,0.4,18.60,10.3,11.7,...,42.15,51.55,2.28588,4.62521,80.1317,88.1224,85.6281,90.9782,71.7292,83.4374
29,Yemen,18.50,15.0,17.10,19.20,12.4,15.8,26.50,21.0,13.3,...,1.67,11.39,NaN,NaN,6.0374,65.4076,5.4277,65.1133,8.2372,66.4580

In [3]:
# Set features. This will also be used as your x values.

selected_features = df[['Prevarence_G_W','Urban_G_W', 'Rural_G_W', 'Low_Income_G_W', 'Middle_income_G_W', 'High_Income_G_W', 'Oppose_Cont_G_W','Oppose_Cont_B_M','Upper2ndary_Educ_Female','Upper2ndary_Educ_Male']]
selected_features

,Prevarence_G_W,Urban_G_W,Rural_G_W,Low_Income_G_W,Middle_income_G_W,High_Income_G_W,Oppose_Cont_G_W,Oppose_Cont_B_M,Upper2ndary_Educ_Female,Upper2ndary_Educ_Male
0,9.20,5.20,13.48,16.20,10.3,2.30,86.30,88.8,NaN,NaN
1,75.80,68.70,78.40,77.30,77.8,68.46,NaN,NaN,1.57192,4.29634
2,1.40,0.90,2.10,1.30,1.0,0.70,84.10,84.6,11.47701,25.39947
3,24.20,18.10,28.70,33.60,26.0,14.90,NaN,NaN,NaN,NaN
4,38.40,40.10,37.90,46.10,37.0,37.30,45.10,48.6,NaN,NaN
5,36.70,30.80,43.80,50.00,43.3,20.00,79.40,82.1,6.94469,15.25335
6,94.00,93.90,97.60,96.90,93.6,92.60,51.00,NaN,NaN,NaN
7,87.20,77.40,92.60,94.40,92.2,69.80,37.45,27.9,NaN,NaN
8,83.00,80.00,85.00,89.40,84.4,75.20,82.20,84.9,NaN,NaN
9,65.20,53.90,68.40,65.00,69.0,57.30,79.30,86.7,5.65992,12.68877
10,75.70,77.30,71.70,68.20,84.6,67.00,48.90,NaN,NaN,NaN
11,3.80,2.50,5.30,12.80,2.7,1.10,92.47,NaN,14.67860,27.24011
12,94.50,94.80,94.30,94.60,93.3,94.98,26.20,32.6,NaN,NaN
13,44.90,39.80,50.10,17.90,65.4,36.10,81.40,NaN,NaN,NaN
14,7.40,7.00,8.30,1.40,2.8,21.70,93.60,NaN,23.94748,34.38337
15,21.00,13.80,25.90,39.80,17.8,12.00,92.47,88.8,18.00121,25.71248
16,44.40,37.30,55.60,58.40,51.3,26.30,55.00,NaN,NaN,NaN
17,88.60,89.20,88.40,86.47,89.9,90.40,17.47,12.6,3.24330,8.22355
18,12.90,13.80,12.30,13.90,12.2,11.70,65.90,NaN,NaN,NaN
19,66.60,55.20,79.00,91.80,70.1,36.60,49.50,18.7,NaN,NaN
20,2.00,1.20,2.10,1.70,2.4,1.00,82.40,90.6,1.98776,4.99652
21,19.48,24.20,15.60,16.40,20.0,20.00,67.40,62.1,NaN,NaN
22,24.00,19.80,28.20,40.80,24.9,13.70,80.90,78.8,5.00873,17.26285
23,86.10,80.20,92.00,93.40,89.5,74.46,NaN,NaN,NaN,NaN
24,97.90,97.10,98.40,98.40,98.4,96.20,32.80,NaN,NaN,NaN
25,86.60,85.47,87.20,88.00,80.7,91.60,52.80,64.0,NaN,NaN
26,3.10,2.50,3.60,4.20,2.6,1.90,94.50,95.6,3.03632,17.39877
27,0.30,0.20,0.40,1.00,0.2,0.10,82.60,NaN,6.34869,13.92241
28,10.00,5.30,12.70,18.60,11.7,4.40,95.00,88.9,2.28588,4.62521
29,18.50,17.10,19.20,26.50,13.3,14.00,75.40,NaN,NaN,NaN

In [4]:
# Drop the null rows
selected_features1 = selected_features .dropna()
selected_features1

,Prevarence_G_W,Urban_G_W,Rural_G_W,Low_Income_G_W,Middle_income_G_W,High_Income_G_W,Oppose_Cont_G_W,Oppose_Cont_B_M,Upper2ndary_Educ_Female,Upper2ndary_Educ_Male
2,1.4,0.9,2.1,1.30,1.0,0.7,84.10,84.6,11.47701,25.39947
5,36.7,30.8,43.8,50.00,43.3,20.0,79.40,82.1,6.94469,15.25335
9,65.2,53.9,68.4,65.00,69.0,57.3,79.30,86.7,5.65992,12.68877
15,21.0,13.8,25.9,39.80,17.8,12.0,92.47,88.8,18.00121,25.71248
17,88.6,89.2,88.4,86.47,89.9,90.4,17.47,12.6,3.24330,8.22355
20,2.0,1.2,2.1,1.70,2.4,1.0,82.40,90.6,1.98776,4.99652
22,24.0,19.8,28.2,40.80,24.9,13.7,80.90,78.8,5.00873,17.26285
26,3.1,2.5,3.6,4.20,2.6,1.9,94.50,95.6,3.03632,17.39877
28,10.0,5.3,12.7,18.60,11.7,4.4,95.00,88.9,2.28588,4.62521

In [5]:
X=selected_features1[['Prevarence_G_W','Urban_G_W', 'Rural_G_W', 'Low_Income_G_W', 'Middle_income_G_W', 'High_Income_G_W', 'Oppose_Cont_G_W','Oppose_Cont_B_M','Upper2ndary_Educ_Female','Upper2ndary_Educ_Male']]
y=selected_features1['Prevarence_G_W']
y

2      1.4
5     36.7
9     65.2
15    21.0
17    88.6
20     2.0
22    24.0
26     3.1
28    10.0
Name: Prevarence_G_W, dtype: float64

In [17]:
# Group y in two categories. 1 is higher prevalence (is splitting at 30%, it seems to create the 2 groups that are about the same size
selected_features1['Prevarence_G_W1']=[1 if x >=30 else 0 for x in selected_features1['Prevarence_G_W']] 
print(selected_features1)

    Prevarence_G_W  Urban_G_W  Rural_G_W  Low_Income_G_W  Middle_income_G_W  \
0             9.20       5.20      13.48           16.20               10.3
2             1.40       0.90       2.10            1.30                1.0
4            38.40      40.10      37.90           46.10               37.0
5            36.70      30.80      43.80           50.00               43.3
7            87.20      77.40      92.60           94.40               92.2
9            65.20      53.90      68.40           65.00               69.0
12           94.50      94.80      94.30           94.60               93.3
15           21.00      13.80      25.90           39.80               17.8
17           88.60      89.20      88.40           86.47               89.9
19           66.60      55.20      79.00           91.80               70.1
20            2.00       1.20       2.10            1.70                2.4
21           19.48      24.20      15.60           16.40               20.0
22           24.00      19.80      28.20           40.80               24.9
25           86.60      85.47      87.20           88.00               80.7
26            3.10       2.50       3.60            4.20                2.6
28           10.00       5.30      12.70           18.60               11.7

    High_Income_G_W  Oppose_Cont_G_W  Oppose_Cont_B_M  \
0              2.30            86.30             88.8
2              0.70            84.10             84.6
4             37.30            45.10             48.6
5             20.00            79.40             82.1
7             69.80            37.45             27.9
9             57.30            79.30             86.7
12            94.98            26.20             32.6
15            12.00            92.47             88.8
17            90.40            17.47             12.6
19            36.60            49.50             18.7
20             1.00            82.40             90.6
21            20.00            67.40             62.1
22            13.70            80.90             78.8
25            91.60            52.80             64.0
26             1.90            94.50             95.6
28             4.40            95.00             88.9

    Upper2ndary_Educ_Female  Upper2ndary_Educ_Male  Prevarence_G_W1
0                  13.00000               25.00000                0
2                  11.47701               25.39947                0
4                  10.00000               18.00000                1
5                   6.94469               15.25335                1
7                  81.00000               79.00000                1
9                   5.65992               12.68877                1
12                 25.00000               43.00000                1
15                 18.00121               25.71248                0
17                  3.24330                8.22355                1
19                 34.00000               42.00000                1
20                  1.98776                4.99652                0
21                 72.00000               78.00000                0
22                  5.00873               17.26285                0
25                 43.00000               45.00000                1
26                  3.03632               17.39877                0
28                  2.28588                4.62521                0

C:\Users\mikan\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [18]:
# recreate X and y based on selected_features1

X=selected_features1[['Urban_G_W', 'Rural_G_W', 'Low_Income_G_W', 'Middle_income_G_W', 'High_Income_G_W', 'Oppose_Cont_G_W','Oppose_Cont_B_M','Upper2ndary_Educ_Female','Upper2ndary_Educ_Male']]
y=selected_features1['Prevarence_G_W1']
y

0     0
2     0
4     1
5     1
7     1
9     1
12    1
15    0
17    1
19    1
20    0
21    0
22    0
25    1
26    0
28    0
Name: Prevarence_G_W1, dtype: int64

In [19]:
X=selected_features1[['Urban_G_W', 'Rural_G_W', 'Low_Income_G_W', 'Middle_income_G_W', 'High_Income_G_W', 'Oppose_Cont_G_W','Oppose_Cont_B_M','Upper2ndary_Educ_Female','Upper2ndary_Educ_Male']]
y = selected_features1["Prevarence_G_W1"].values.reshape(-1, 1)
print(X.shape, y.shape)

(16, 9) (16, 1)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=42)
X_train.head()

,Urban_G_W,Rural_G_W,Low_Income_G_W,Middle_income_G_W,High_Income_G_W,Oppose_Cont_G_W,Oppose_Cont_B_M,Upper2ndary_Educ_Female,Upper2ndary_Educ_Male
25,85.47,87.2,88.00,80.7,91.6,52.80,64.0,43.0000,45.00000
21,24.20,15.6,16.40,20.0,20.0,67.40,62.1,72.0000,78.00000
17,89.20,88.4,86.47,89.9,90.4,17.47,12.6,3.2433,8.22355
19,55.20,79.0,91.80,70.1,36.6,49.50,18.7,34.0000,42.00000
4,40.10,37.9,46.10,37.0,37.3,45.10,48.6,10.0000,18.00000

In [21]:
# Scale your data
from sklearn.preprocessing import MinMaxScaler

X_scaler = MinMaxScaler().fit(X_train)
y_scaler = MinMaxScaler().fit(y_train)

In [22]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [23]:
# Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train_scaled, y_train_scaled)

C:\Users\mikan\Anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [24]:
print(f"Training Data Score : {model.score(X_train_scaled, y_train)}")
print(f"Testing Data Score: {model.score(X_test_scaled, y_test)}")

Training Data Score : 0.9166666666666666
Testing Data Score: 1.0