In [2]:
from sklearn import tree
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("Opposing_Full.csv")
df.head()

   Year  Value  Outcome
0  2014     86        1
1  2010     90        1
2  2004     84        1
3  2010     75        1
4  2015     45        0

In [4]:
target = df["Outcome"]
target_names = ["negative", "positive"]

In [5]:
data = df.drop("Outcome", axis=1)
feature_names = data.columns
data.head()

   Year  Value
0  2014     86
1  2010     90
2  2004     84
3  2010     75
4  2015     45

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [7]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.875